@model IEnumerable<Turnos.Models.Especialidad>

<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
        </tr>
    </thead>
    <tbody>
        @*Esto es un comentario, más adelante vamos a insertar el código de la BD*@
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor( modelItem => item.Descripcion)
                </td>
            </tr>
        }
    </tbody>
</table>