@model Turnos.Models.Paciente

<h3>¿Está seguro de querer eliminar al paciente?</h3>
<div>
    <dl>
        <dt>
            @Html.DisplayNameFor(modelo => modelo.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(modelo => modelo.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(modelo => modelo.Apellido)
        </dt>
        <dd>
            @Html.DisplayFor(modelo => modelo.Apellido)
        </dd>
    </dl>
</div>

<form asp-action="Delete">
    <input type="hidden" asp-for="IdPaciente">
    <input type="submit" value="Confirmar">
</form>
<div>
    <a asp-action="Index">Volver</a>
</div>
